*{
broder:0;
padding:0;
box-sizing:border-box;
}
body
{
    background-image: url(imagekvr.jpg);
     background-size:cover;
	 backgroumd-position:center;
	 
	 font-family: sans-serif;
}
.menu-bar{
	background-color:green;
	text-align:center;
}
.menu-bar ul{
display:inline-flex;
list-style:none;
color:white;
}
.menu-bar ul li{
	width:200px;
	padding:13px;
	margin:12px;	
	
}
.menu-bar ul li a{
text-decoration:none;
color:white;
}
.menu-bar ul li:hover{
	background: blue;
    border-radius:60px;
}
.sub-menu-1{
	display:none;
}
.menu-bar ul li:hover .sub-menu-1{
display:block;
position:absolute;
background-color: red;
margin-top:15px;
margin-left:15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
display :block;
margin:10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
	width:150px;
	padding:10px;
	border-bottom:1px dotted pink;
	background:transparent;
	border-radius:0;
	text-align:left;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
background:blue;
}














